<div style='background: #e1ff00'> <h1>Student Information</h1>  
    
Name: Miss Pattamon Rattanapan

Student ID: 108065436

GitHub ID: https://github.com/mon826

Kaggle name:Username : mon826 (display name Pattamon R, account ID 2514034)

Kaggle private scoreboard snapshot:

[Snapshot](img/pic0.png)

---

### Instructions

1. First: __This part is worth 30% of your grade.__ Do the **take home** exercises in the [DM19-Lab2-Master Repo](https://github.com/EvaArevalo/DM19-Lab2-Master). You may need to copy some cells from the Lab notebook to this notebook. 


2. Second: __This part is worth 30% of your grade.__ Participate in the in-class [Kaggle Competition](https://www.kaggle.com/t/179d01d4dd984fc5ac45a894822479dd) regarding Emotion Recognition on Twitter. The scoring will be given according to your place in the Private Leaderboard ranking: 
    - **Bottom 40%**: Get 20% of the score (ie. 20% of 30% )

    - **Top 41% - 100%**: Get (101-x)% of the score, where x is your ranking in the leaderboard (ie. (101-x)% of 30% )   
    Submit your last submission __BEFORE the deadline (Nov. 23rd 11:59 pm, Saturday)__. Make sure to take a screenshot of your position at the end of the competition and store it as '''pic0.png''' under the **img** folder of this repository and rerun the cell **Student Information**.
    

3. Third: __This part is worth 30% of your grade.__ A report of your work developping the model for the competition (You can use code and comment it). This report should include what your preprocessing steps, the feature engineering steps and an explanation of your model. You can also mention different things you tried and insights you gained. 


4. Fourth: __This part is worth 10% of your grade.__ It's hard for us to follow if your code is messy :'(, so please **tidy up your notebook** and **add minimal comments where needed**.


You can submit your homework following these guidelines: [Git Intro & How to hand your homework](https://github.com/EvaArevalo/DM19-Lab1-Master/blob/master/Git%20Intro%20%26%20How%20to%20hand%20your%20homework.ipynb), but make sure to fork the [DM19-Lab2-Homework](https://github.com/EvaArevalo/DM19-Lab2-Homework) repository this time! Also please __DON´T UPLOAD HUGE DOCUMENTS__, please use Git ignore for that.

Make sure to commit and save your changes to your repository __BEFORE the deadline (Nov. 26th 11:59 pm, Tuesday)__.

In [1]:
### Begin Assignment Here

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import plotly
import nltk
import os
import math
import string
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from nltk.tokenize import word_tokenize 
from nltk.corpus import stopwords 
import nltk
nltk.download('stopwords')
import helpers.data_mining_helpers as dmh

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## File importing & Data Preparation

####  Import the main file: Tweet_DM.json

In [50]:
#Use pandas to read file 

import pandas as pd
df = pd.read_json(r'C:\Users\User\Data Mining_NTHU\DMlab2x\DM19-Lab2-Homework\Data for Lab2_HW\tweets_DM.json',lines=True)
df

,_score,_index,_source,_crawldate,_type
0,391,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,tweets
1,433,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,tweets
2,232,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,tweets
3,376,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,tweets
4,989,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,tweets
...,...,...,...,...,...
1867530,827,hashtag_tweets,"{'tweet': {'hashtags': ['mixedfeeling', 'butim...",2015-05-12 12:51:52,tweets
1867531,368,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x29d0...",2017-10-02 17:54:04,tweets
1867532,498,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2a6a...",2016-10-10 11:04:32,tweets
1867533,840,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x24fa...",2016-09-02 14:25:06,tweets
1867534,360,hashtag_tweets,"{'tweet': {'hashtags': ['Sundayvibes'], 'tweet...",2016-11-16 01:40:07,tweets

In [51]:
#Check columns name
df.columns

Index(['_score', '_index', '_source', '_crawldate', '_type'], dtype='object')

In [52]:
#Rearrange columns 
df = df[['_crawldate','_index','_source','_score','_type']]
df

,_crawldate,_index,_source,_score,_type
0,2015-05-23 11:42:47,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",391,tweets
1,2016-01-28 04:52:09,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",433,tweets
2,2017-12-25 04:39:20,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",232,tweets
3,2016-01-24 23:53:05,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",376,tweets
4,2016-01-08 17:18:59,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",989,tweets
...,...,...,...,...,...
1867530,2015-05-12 12:51:52,hashtag_tweets,"{'tweet': {'hashtags': ['mixedfeeling', 'butim...",827,tweets
1867531,2017-10-02 17:54:04,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x29d0...",368,tweets
1867532,2016-10-10 11:04:32,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2a6a...",498,tweets
1867533,2016-09-02 14:25:06,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x24fa...",840,tweets
1867534,2016-11-16 01:40:07,hashtag_tweets,"{'tweet': {'hashtags': ['Sundayvibes'], 'tweet...",360,tweets

In [53]:
#Rename the column to be easier to read and print the data to see 
#but the date and time is stored under the same column and the source is starting with {'tweet'{hastags'
df.rename(columns={'_crawldate':'date'}, inplace = True)
df.rename(columns={'_index':'index'}, inplace = True)
df.rename(columns={'_source':'source'}, inplace = True)
df.rename(columns={'_score':'score'}, inplace = True)
df.rename(columns={'_type':'type'}, inplace = True)
df

,date,index,source,score,type
0,2015-05-23 11:42:47,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",391,tweets
1,2016-01-28 04:52:09,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",433,tweets
2,2017-12-25 04:39:20,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",232,tweets
3,2016-01-24 23:53:05,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",376,tweets
4,2016-01-08 17:18:59,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",989,tweets
...,...,...,...,...,...
1867530,2015-05-12 12:51:52,hashtag_tweets,"{'tweet': {'hashtags': ['mixedfeeling', 'butim...",827,tweets
1867531,2017-10-02 17:54:04,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x29d0...",368,tweets
1867532,2016-10-10 11:04:32,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2a6a...",498,tweets
1867533,2016-09-02 14:25:06,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x24fa...",840,tweets
1867534,2016-11-16 01:40:07,hashtag_tweets,"{'tweet': {'hashtags': ['Sundayvibes'], 'tweet...",360,tweets

In [54]:
#Then I try again using pandas to read the file  
#Source: https://pandas.pydata.org/pandas-docs/stable/reference/io.html#json

from pandas.io.json import json_normalize
spdf = json_normalize(df.source)

In [55]:
spdf

,tweet.hashtags,tweet.tweet_id,tweet.text
0,[Snapchat],0x376b20,"People who post ""add me on #Snapchat"" must be ..."
1,"[freepress, TrumpLegacy, CNN]",0x2d5350,"@brianklaas As we see, Trump is dangerous to #..."
2,[bibleverse],0x28b412,"Confident of your obedience, I write to you, k..."
3,[],0x1cd5b0,Now ISSA is stalking Tasha 😂😂😂 <LH>
4,[],0x2de201,"""Trust is not the same as faith. A friend is s..."
...,...,...,...
1867530,"[mixedfeeling, butimTHATperson]",0x316b80,When you buy the last 2 tickets remaining for ...
1867531,[],0x29d0cb,I swear all this hard work gone pay off one da...
1867532,[],0x2a6a4f,@Parcel2Go no card left when I wasn't in so I ...
1867533,[],0x24faed,"Ah, corporate life, where you can date <LH> us..."
1867534,[Sundayvibes],0x34be8c,Blessed to be living #Sundayvibes <LH>

In [56]:
#Then check the column names
spdf.columns

Index(['tweet.hashtags', 'tweet.tweet_id', 'tweet.text'], dtype='object')

In [57]:
#Rearrange the columns and print it to see how it looks like
spdf = spdf[['tweet.tweet_id','tweet.hashtags','tweet.text']]
spdf

,tweet.tweet_id,tweet.hashtags,tweet.text
0,0x376b20,[Snapchat],"People who post ""add me on #Snapchat"" must be ..."
1,0x2d5350,"[freepress, TrumpLegacy, CNN]","@brianklaas As we see, Trump is dangerous to #..."
2,0x28b412,[bibleverse],"Confident of your obedience, I write to you, k..."
3,0x1cd5b0,[],Now ISSA is stalking Tasha 😂😂😂 <LH>
4,0x2de201,[],"""Trust is not the same as faith. A friend is s..."
...,...,...,...
1867530,0x316b80,"[mixedfeeling, butimTHATperson]",When you buy the last 2 tickets remaining for ...
1867531,0x29d0cb,[],I swear all this hard work gone pay off one da...
1867532,0x2a6a4f,[],@Parcel2Go no card left when I wasn't in so I ...
1867533,0x24faed,[],"Ah, corporate life, where you can date <LH> us..."
1867534,0x34be8c,[Sundayvibes],Blessed to be living #Sundayvibes <LH>

In [58]:
#Rename the column to be easier to read and print the data to see again
spdf.rename(columns={'tweet.tweet_id':'id'}, inplace = True)
spdf.rename(columns={'tweet.hashtags':'hashtags'}, inplace = True)
spdf.rename(columns={'tweet.text':'text'}, inplace = True)
spdf

,id,hashtags,text
0,0x376b20,[Snapchat],"People who post ""add me on #Snapchat"" must be ..."
1,0x2d5350,"[freepress, TrumpLegacy, CNN]","@brianklaas As we see, Trump is dangerous to #..."
2,0x28b412,[bibleverse],"Confident of your obedience, I write to you, k..."
3,0x1cd5b0,[],Now ISSA is stalking Tasha 😂😂😂 <LH>
4,0x2de201,[],"""Trust is not the same as faith. A friend is s..."
...,...,...,...
1867530,0x316b80,"[mixedfeeling, butimTHATperson]",When you buy the last 2 tickets remaining for ...
1867531,0x29d0cb,[],I swear all this hard work gone pay off one da...
1867532,0x2a6a4f,[],@Parcel2Go no card left when I wasn't in so I ...
1867533,0x24faed,[],"Ah, corporate life, where you can date <LH> us..."
1867534,0x34be8c,[Sundayvibes],Blessed to be living #Sundayvibes <LH>

#### Import data identification file - file defining which ID is training or testing set

In [59]:
#Import the file data identification by using pandas
col_Names2=["id", "identification"]
dfid = pd.read_csv(r'C:\Users\User\Data Mining_NTHU\DMlab2x\DM19-Lab2-Homework\Data for Lab2_HW\data_identification.csv',
                      names =col_Names2, header =0)
dfid

               id identification
0        0x28cc61           test
1        0x29e452          train
2        0x2b3819          train
3        0x2db41f           test
4        0x2a2acc          train
...           ...            ...
1867530  0x227e25          train
1867531  0x293813          train
1867532  0x1e1a7e          train
1867533  0x2156a5          train
1867534  0x2bb9d2          train

[1867535 rows x 2 columns]

#### Import emotion file - The training set

In [60]:
#Import the file emotion by using pandas
col_Names=["id", "emotion"]
emotion = pd.read_csv(r'C:\Users\User\Data Mining_NTHU\DMlab2x\DM19-Lab2-Homework\Data for Lab2_HW\emotion.csv', header = 0, names =col_Names)
emotion

               id       emotion
0        0x3140b1       sadness
1        0x368b73       disgust
2        0x296183  anticipation
3        0x2bd6e1           joy
4        0x2ee1dd  anticipation
...           ...           ...
1455558  0x38dba0           joy
1455559  0x300ea2           joy
1455560  0x360b99          fear
1455561  0x22eecf           joy
1455562  0x2fb282  anticipation

[1455563 rows x 2 columns]

In [61]:
#Merge the spdf with the dfid together 
#>>https://stackoverflow.com/questions/21435176/appending-two-dataframes-with-same-columns-different-order
#But it's wrong 
totaldf = pd.concat([spdf, dfid], ignore_index=True, sort=True)
totaldf

,hashtags,id,identification,text
0,[Snapchat],0x376b20,NaN,"People who post ""add me on #Snapchat"" must be ..."
1,"[freepress, TrumpLegacy, CNN]",0x2d5350,NaN,"@brianklaas As we see, Trump is dangerous to #..."
2,[bibleverse],0x28b412,NaN,"Confident of your obedience, I write to you, k..."
3,[],0x1cd5b0,NaN,Now ISSA is stalking Tasha 😂😂😂 <LH>
4,[],0x2de201,NaN,"""Trust is not the same as faith. A friend is s..."
...,...,...,...,...
3735065,NaN,0x227e25,train,NaN
3735066,NaN,0x293813,train,NaN
3735067,NaN,0x1e1a7e,train,NaN
3735068,NaN,0x2156a5,train,NaN
3735069,NaN,0x2bb9d2,train,NaN

In [62]:
#Try again, Ok it works 
#>> https://stackoverflow.com/questions/43297589/merge-two-data-frames-based-on-common-column-values-in-pandas
totaldf = pd.merge(spdf, dfid, on='id',sort = True)
totaldf

,id,hashtags,text,identification
0,0x1c7f0f,[],"@JZED74 While inappropriate AF, he likely wasn...",test
1,0x1c7f10,[BlackMirror],o m g Shut Up And Dance though #BlackMirror <LH>,train
2,0x1c7f11,"[twitch, Destinybeta, Destiny, Destiny2, Desti...",On #twitch <LH> on the #Destinybeta #Destiny #...,train
3,0x1c7f12,[],I tried to figure out why you mean so much to ...,test
4,0x1c7f13,"[auspol, fizza]","The only “big plan” you ever had in your life,...",test
...,...,...,...,...
1867530,0x38fe19,"[WesHoolahan, WALvIRL, COYBIG]",Where is #WesHoolahan?! #WALvIRL #COYBIG <LH>,train
1867531,0x38fe1a,"[not, maga]",@mattmfm Fake news! <LH> propagated by Tumpkin...,train
1867532,0x38fe1b,[],I told myself I'd be twitter famous. twitter m...,test
1867533,0x38fe1c,[],..today was brutal ..#Hungover,train
1867534,0x38fe1d,"[redheadproblems, ouch, burnt]",Love it when I sun burn my forehead!! NOT!! 😫😱...,train

In [63]:
#Then cut the file into 2 separate dataset by its identification
#Cut the file for training set first
traindf = totaldf[totaldf['identification']=='train']
traindf

,id,hashtags,text,identification
1,0x1c7f10,[BlackMirror],o m g Shut Up And Dance though #BlackMirror <LH>,train
2,0x1c7f11,"[twitch, Destinybeta, Destiny, Destiny2, Desti...",On #twitch <LH> on the #Destinybeta #Destiny #...,train
5,0x1c7f14,[],A nice sunny wak this morning not many <LH> ar...,train
6,0x1c7f15,"[Confession, NationalCandyCornDay, CouldEatThe...",I'm one of those people who love candy corn......,train
7,0x1c7f16,[],@metmuseum What are these? They look like some...,train
...,...,...,...,...
1867529,0x38fe18,[],@LJPBR @FifthHarmony Um My vote For @FifthHar...,train
1867530,0x38fe19,"[WesHoolahan, WALvIRL, COYBIG]",Where is #WesHoolahan?! #WALvIRL #COYBIG <LH>,train
1867531,0x38fe1a,"[not, maga]",@mattmfm Fake news! <LH> propagated by Tumpkin...,train
1867533,0x38fe1c,[],..today was brutal ..#Hungover,train
1867534,0x38fe1d,"[redheadproblems, ouch, burnt]",Love it when I sun burn my forehead!! NOT!! 😫😱...,train

In [64]:
#Then print its' basic info to see
traindf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1455563 entries, 1 to 1867534
Data columns (total 4 columns):
id                1455563 non-null object
hashtags          1455563 non-null object
text              1455563 non-null object
identification    1455563 non-null object
dtypes: object(4)
memory usage: 55.5+ MB

In [65]:
#Then cut the file for testing dataset
testdf = totaldf[totaldf['identification']=='test']
testdf

,id,hashtags,text,identification
0,0x1c7f0f,[],"@JZED74 While inappropriate AF, he likely wasn...",test
3,0x1c7f12,[],I tried to figure out why you mean so much to ...,test
4,0x1c7f13,"[auspol, fizza]","The only “big plan” you ever had in your life,...",test
8,0x1c7f17,[],"Looking back on situations old & new, recent o...",test
9,0x1c7f18,[],@jasoninthehouse Why do you insist on talking ...,test
...,...,...,...,...
1867509,0x38fe04,"[traitor, treason]","""The Grand Bargain"" The Great American Betraya...",test
1867511,0x38fe06,"[FosterCare, roadtoadoption, Adoption]",I get to be a 1 year old girl's new mama start...,test
1867524,0x38fe13,[artworld],Asian dude with dangly gold earrings is back &...,test
1867525,0x38fe14,"[nba, cantmakeaJ]",I think @kostakoufos might be the worst player...,test
1867532,0x38fe1b,[],I told myself I'd be twitter famous. twitter m...,test

In [66]:
#Then print its' basic info to see
testdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 411972 entries, 0 to 1867532
Data columns (total 4 columns):
id                411972 non-null object
hashtags          411972 non-null object
text              411972 non-null object
identification    411972 non-null object
dtypes: object(4)
memory usage: 15.7+ MB

In [67]:
#Then we can see that the number of row for the training data and the emotion (the result of prediction) is the same
#Then we combine those two file together
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html
traindf = pd.merge(traindf, emotion,on = None,sort = True)
traindf

,id,hashtags,text,identification,emotion
0,0x1c7f10,[BlackMirror],o m g Shut Up And Dance though #BlackMirror <LH>,train,joy
1,0x1c7f11,"[twitch, Destinybeta, Destiny, Destiny2, Desti...",On #twitch <LH> on the #Destinybeta #Destiny #...,train,anticipation
2,0x1c7f14,[],A nice sunny wak this morning not many <LH> ar...,train,joy
3,0x1c7f15,"[Confession, NationalCandyCornDay, CouldEatThe...",I'm one of those people who love candy corn......,train,joy
4,0x1c7f16,[],@metmuseum What are these? They look like some...,train,disgust
...,...,...,...,...,...
1455558,0x38fe18,[],@LJPBR @FifthHarmony Um My vote For @FifthHar...,train,sadness
1455559,0x38fe19,"[WesHoolahan, WALvIRL, COYBIG]",Where is #WesHoolahan?! #WALvIRL #COYBIG <LH>,train,anticipation
1455560,0x38fe1a,"[not, maga]",@mattmfm Fake news! <LH> propagated by Tumpkin...,train,surprise
1455561,0x38fe1c,[],..today was brutal ..#Hungover,train,disgust
1455562,0x38fe1d,"[redheadproblems, ouch, burnt]",Love it when I sun burn my forehead!! NOT!! 😫😱...,train,sadness

In [68]:
traindf.columns

Index(['id', 'hashtags', 'text', 'identification', 'emotion'], dtype='object')

In [140]:
#sum column hastags and text together for better train data
traindf_=traindf[['hashtags', 'text']].astype(str).apply('-'.join, axis=1)
#traindf['combined'] = traindf[['hashtags', 'text']].apply(lambda x: ''.join(x), axis=1)

In [142]:
#sum column hastags and text together for better train data
testdf_=testdf[['hashtags', 'text']].astype(str).apply('-'.join, axis=1)
#testdf['combined'] = testdf[['hashtags', 'text']].apply(lambda x: ''.join(x), axis=1)

In [143]:
traindf

,id,hashtags,text,identification,emotion
0,0x1c7f10,[BlackMirror],o m g Shut Up And Dance though #BlackMirror <LH>,train,joy
1,0x1c7f11,"[twitch, Destinybeta, Destiny, Destiny2, Desti...",On #twitch <LH> on the #Destinybeta #Destiny #...,train,anticipation
2,0x1c7f14,[],A nice sunny wak this morning not many <LH> ar...,train,joy
3,0x1c7f15,"[Confession, NationalCandyCornDay, CouldEatThe...",I'm one of those people who love candy corn......,train,joy
4,0x1c7f16,[],@metmuseum What are these? They look like some...,train,disgust
...,...,...,...,...,...
1455558,0x38fe18,[],@LJPBR @FifthHarmony Um My vote For @FifthHar...,train,sadness
1455559,0x38fe19,"[WesHoolahan, WALvIRL, COYBIG]",Where is #WesHoolahan?! #WALvIRL #COYBIG <LH>,train,anticipation
1455560,0x38fe1a,"[not, maga]",@mattmfm Fake news! <LH> propagated by Tumpkin...,train,surprise
1455561,0x38fe1c,[],..today was brutal ..#Hungover,train,disgust
1455562,0x38fe1d,"[redheadproblems, ouch, burnt]",Love it when I sun burn my forehead!! NOT!! 😫😱...,train,sadness

In [144]:
testdf

,id,hashtags,text,identification,emotion
0,0x1c7f0f,[],"@JZED74 While inappropriate AF, he likely wasn...",test,
3,0x1c7f12,[],I tried to figure out why you mean so much to ...,test,
4,0x1c7f13,"[auspol, fizza]","The only “big plan” you ever had in your life,...",test,
8,0x1c7f17,[],"Looking back on situations old & new, recent o...",test,
9,0x1c7f18,[],@jasoninthehouse Why do you insist on talking ...,test,
...,...,...,...,...,...
1867509,0x38fe04,"[traitor, treason]","""The Grand Bargain"" The Great American Betraya...",test,
1867511,0x38fe06,"[FosterCare, roadtoadoption, Adoption]",I get to be a 1 year old girl's new mama start...,test,
1867524,0x38fe13,[artworld],Asian dude with dangly gold earrings is back &...,test,
1867525,0x38fe14,"[nba, cantmakeaJ]",I think @kostakoufos might be the worst player...,test,
1867532,0x38fe1b,[],I told myself I'd be twitter famous. twitter m...,test,

In [69]:
#We got the dataframe ready to use for the next stage
#the total dataframe is  >> totaldf
#the training dataset is >> traindf
#the testing dataset is  >> testdf

# Data Preprocessing

In [70]:
#Checking for the missing value and duplicate data
traindf.isnull().apply(lambda x: dmh.check_missing_values(traindf))

#There is no missing data in the file

id                (The amoung of missing records is: , 0)
hashtags          (The amoung of missing records is: , 0)
text              (The amoung of missing records is: , 0)
identification    (The amoung of missing records is: , 0)
emotion           (The amoung of missing records is: , 0)
dtype: object

# Create the vector

In [40]:
#Tokenize the 'text'
#traindf['unigrams'] = traindf['text'].apply(lambda x: dmh.tokenize_text(x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [41]:
#traindf['unigrams']

1          [o, m, g, Shut, Up, And, Dance, though, #, Bla...
2          [On, #, twitch, <, LH, >, on, the, #, Destinyb...
5          [A, nice, sunny, wak, this, morning, not, many...
6          [I, 'm, one, of, those, people, who, love, can...
7          [@, metmuseum, What, are, these, ?, They, look...
                                 ...
1867529    [@, LJPBR, @, FifthHarmony, Um, My, vote, For,...
1867530    [Where, is, #, WesHoolahan, ?, !, #, WALvIRL, ...
1867531    [@, mattmfm, Fake, news, !, <, LH, >, propagat...
1867533              [..today, was, brutal, .., #, Hungover]
1867534    [Love, it, when, I, sun, burn, my, forehead, !...
Name: unigrams, Length: 1455563, dtype: object

# Create Bag of Words

In [108]:
from sklearn.feature_extraction.text import CountVectorizer
# build analyzers (bag-of-words)
BOW_vectorizer = CountVectorizer()

In [110]:
# 1. Learn a vocabulary dictionary of all tokens in the raw documents.
BOW_vectorizer.fit(traindf['text'])

# 2. Transform documents to document-term matrix.
train_data_BOW_features = BOW_vectorizer.transform(traindf['text'])
test_data_BOW_features = BOW_vectorizer.transform(testdf['text'])

In [117]:
# check the result
train_data_BOW_features

<1455563x794247 sparse matrix of type '<class 'numpy.int64'>'
	with 18849355 stored elements in Compressed Sparse Row format>

In [118]:
type(train_data_BOW_features)

scipy.sparse.csr.csr_matrix

In [120]:
# check the dimension
train_data_BOW_features.shape

(1455563, 794247)

In [122]:
# observe some feature names
feature_names = BOW_vectorizer.get_feature_names()
feature_names[100:110]

['005',
 '00533321',
 '00575',
 '00578',
 '005796',
 '005e5n',
 '006',
 '0060',
 '007',
 '00786mujahid']

### Decision Trees

In [125]:
from sklearn.tree import DecisionTreeClassifier

In [126]:
# for a classificaiton problem, you need to provide both training & testing data
X_train = BOW_500.transform(traindf['text'])
y_train = traindf['emotion']

In [127]:
X_test = BOW_500.transform(testdf['text'])
y_test = testdf['emotion']

In [128]:
## take a look at data dimension is a good habbit  :)
print('X_train.shape: ', X_train.shape)
print('y_train.shape: ', y_train.shape)
print('X_test.shape: ', X_test.shape)
print('y_test.shape: ', y_test.shape)

X_train.shape:  (1455563, 500)
y_train.shape:  (1455563,)
X_test.shape:  (411972, 500)
y_test.shape:  (411972,)

In [129]:
## build DecisionTree model
DT_model = DecisionTreeClassifier(random_state=0)

In [130]:
## training!
DT_model = DT_model.fit(X_train, y_train)

In [131]:
## predict!
y_train_pred = DT_model.predict(X_train)
y_test_pred = DT_model.predict(X_test)

In [132]:
## so we get the pred result
y_test_pred[:10]

array(['sadness', 'disgust', 'trust', 'joy', 'surprise', 'joy', 'sadness',
       'joy', 'anticipation', 'trust'], dtype=object)

# Accuracy

In [137]:
## accuracy testing on decision tree model
from sklearn.metrics import accuracy_score

acc_train = accuracy_score(y_true=y_train, y_pred=y_train_pred)
acc_test = accuracy_score(y_true=y_test, y_pred=y_test_pred)

print('training accuracy: {}'.format(round(acc_train, 2)))
print('testing accuracy: {}'.format(round(acc_test, 2)))

#at first I will submit the result, but after checking it, i will let it go~
#it is cleary that the model is overfitting.
#I know that there is the problem before trying the model but I just want to see the result

training accuracy: 0.97
testing accuracy: 0.0

In [145]:
y_test_pred[:10]

array(['sadness', 'disgust', 'trust', 'joy', 'surprise', 'joy', 'sadness',
       'joy', 'anticipation', 'trust'], dtype=object)

In [147]:
y_test_pred2 = DT_model.predict(X_test)

In [148]:
y_test_pred2[:10]

array(['sadness', 'disgust', 'trust', 'joy', 'surprise', 'joy', 'sadness',
       'joy', 'anticipation', 'trust'], dtype=object)

# Print the result

In [149]:
test_id = testdf.id

In [152]:
def listOfTuples(test_id, y_test_pred2): 
    return list(map(lambda x, y:(x,y), test_id, y_test_pred2))

In [153]:
finalresult = (listOfTuples(test_id, y_test_pred2))

In [154]:
finalresult[0:1]

[('0x1c7f0f', 'sadness')]

In [155]:
dfresult = pd.DataFrame(finalresult)

In [156]:
dfresult

               0         1
0       0x1c7f0f   sadness
1       0x1c7f12   disgust
2       0x1c7f13     trust
3       0x1c7f17       joy
4       0x1c7f18  surprise
...          ...       ...
411967  0x38fe04   sadness
411968  0x38fe06     trust
411969  0x38fe13       joy
411970  0x38fe14     trust
411971  0x38fe1b       joy

[411972 rows x 2 columns]

In [157]:
#assign header names
dfresult.columns = ['id','emotion']

In [158]:
dfresult

              id   emotion
0       0x1c7f0f   sadness
1       0x1c7f12   disgust
2       0x1c7f13     trust
3       0x1c7f17       joy
4       0x1c7f18  surprise
...          ...       ...
411967  0x38fe04   sadness
411968  0x38fe06     trust
411969  0x38fe13       joy
411970  0x38fe14     trust
411971  0x38fe1b       joy

[411972 rows x 2 columns]

In [159]:
#save the file to csv format
exportcsv = dfresult.to_csv (r'C:\Users\User\Data Mining_NTHU\DMlab2x\DM19-Lab2-Homework\Dataset_Twitter_re.csv', index = None, header=True) 

print (dfresult)

              id   emotion
0       0x1c7f0f   sadness
1       0x1c7f12   disgust
2       0x1c7f13     trust
3       0x1c7f17       joy
4       0x1c7f18  surprise
...          ...       ...
411967  0x38fe04   sadness
411968  0x38fe06     trust
411969  0x38fe13       joy
411970  0x38fe14     trust
411971  0x38fe1b       joy

[411972 rows x 2 columns]

# Model Creation

### Create vector for train and test dataset

In [71]:
#Create the vectorizer for the training and testing set
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
trainvec = vectorizer.fit_transform(traindf.text)
testvec = vectorizer.fit_transform(testdf.text)

In [72]:
trainvec

<1455563x794247 sparse matrix of type '<class 'numpy.int64'>'
	with 18849355 stored elements in Compressed Sparse Row format>

In [73]:
testvec

<411972x283626 sparse matrix of type '<class 'numpy.int64'>'
	with 6456093 stored elements in Compressed Sparse Row format>

In [83]:
testdf['emotion'] = df.apply(lambda _: '', axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [101]:
testdf

,id,hashtags,text,identification,emotion
0,0x1c7f0f,[],"@JZED74 While inappropriate AF, he likely wasn...",test,
3,0x1c7f12,[],I tried to figure out why you mean so much to ...,test,
4,0x1c7f13,"[auspol, fizza]","The only “big plan” you ever had in your life,...",test,
8,0x1c7f17,[],"Looking back on situations old & new, recent o...",test,
9,0x1c7f18,[],@jasoninthehouse Why do you insist on talking ...,test,
...,...,...,...,...,...
1867509,0x38fe04,"[traitor, treason]","""The Grand Bargain"" The Great American Betraya...",test,
1867511,0x38fe06,"[FosterCare, roadtoadoption, Adoption]",I get to be a 1 year old girl's new mama start...,test,
1867524,0x38fe13,[artworld],Asian dude with dangly gold earrings is back &...,test,
1867525,0x38fe14,"[nba, cantmakeaJ]",I think @kostakoufos might be the worst player...,test,
1867532,0x38fe1b,[],I told myself I'd be twitter famous. twitter m...,test,

In [93]:
#Split dataset into training and testing dataset 
#random_state=1 for reproducibility


# for a classificaiton problem, you need to provide both training & testing data
X_train = trainvec
y_train = traindf['emotion']

X_test = testvec
y_test = testdf['emotion']

### Model: MultinomialNB

In [160]:
from sklearn.naive_bayes import MultinomialNB
MulNB = MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [161]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1455563, 500)
(411972, 500)
(1455563,)
(411972,)

In [162]:
MulNB = MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)
MulNB.fit(X_train, y_train)
MulNB.score(X_test, y_test)

0.0

### Model: Bernoulli

In [97]:
from sklearn.naive_bayes import BernoulliNB
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1455563, 794247)
(411972, 283626)
(1455563,)
(411972,)

In [98]:
bnb = BernoulliNB(binarize=0.0)
bnb.fit(X_train, y_train)
bnb.score(X_test, y_test)

ValueError: Expected input with 794247 features, got 283626 instead

# Test the model with the test dataset

In [163]:
#Build the model
MNBmodel = MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

#Train the data
MNBmodel = MNBmodel.fit(X_train, y_train)

#Predict the result
Xtrain1 = MNBmodel.predict(X_train)
Xtest1 = MNBmodel.predict(X_test)

## then we get the pred result
Xtest1[:10]

array(['sadness', 'sadness', 'anticipation', 'anticipation', 'disgust',
       'joy', 'sadness', 'joy', 'anticipation', 'sadness'], dtype='<U12')

In [165]:
#Predict the result by using testing dataset
Xtesttest = MNBmodel.predict(X_test)

#Predict the result by using the test dataset
Testontest = MNBmodel.predict(testvec)

In [107]:
#Renew testing the model again
#Then test the result
bnbmodel = BernoulliNB(binarize=0.0)

#Train the data
bnbmodel = bnbmodel.fit(X_train, y_train)

#Predict the result
Xtrain2  = bnbmodel.predict(X_train)
Xtest2 = bnbmodel.predict(X_test)

## then we get the pred result
Xtest2[:10]

ValueError: Expected input with 794247 features, got 283626 instead

In [ ]:
#Predict the result by using the test dataset
bnbmodel = bnbmodel.predict(testvec)

# Model Creation

### Create vector for train and test dataset

In [71]:
#Create the vectorizer for the training and testing set
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
trainvec = vectorizer.fit_transform(traindf.text)
testvec = vectorizer.fit_transform(testdf.text)

In [72]:
trainvec

<1455563x794247 sparse matrix of type '<class 'numpy.int64'>'
	with 18849355 stored elements in Compressed Sparse Row format>

In [73]:
testvec

<411972x283626 sparse matrix of type '<class 'numpy.int64'>'
	with 6456093 stored elements in Compressed Sparse Row format>

In [83]:
testdf['emotion'] = df.apply(lambda _: '', axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [101]:
testdf

,id,hashtags,text,identification,emotion
0,0x1c7f0f,[],"@JZED74 While inappropriate AF, he likely wasn...",test,
3,0x1c7f12,[],I tried to figure out why you mean so much to ...,test,
4,0x1c7f13,"[auspol, fizza]","The only “big plan” you ever had in your life,...",test,
8,0x1c7f17,[],"Looking back on situations old & new, recent o...",test,
9,0x1c7f18,[],@jasoninthehouse Why do you insist on talking ...,test,
...,...,...,...,...,...
1867509,0x38fe04,"[traitor, treason]","""The Grand Bargain"" The Great American Betraya...",test,
1867511,0x38fe06,"[FosterCare, roadtoadoption, Adoption]",I get to be a 1 year old girl's new mama start...,test,
1867524,0x38fe13,[artworld],Asian dude with dangly gold earrings is back &...,test,
1867525,0x38fe14,"[nba, cantmakeaJ]",I think @kostakoufos might be the worst player...,test,
1867532,0x38fe1b,[],I told myself I'd be twitter famous. twitter m...,test,

In [93]:
#Split dataset into training and testing dataset 
#random_state=1 for reproducibility


# for a classificaiton problem, you need to provide both training & testing data
X_train = trainvec
y_train = traindf['emotion']

X_test = testvec
y_test = testdf['emotion']

### Model: MultinomialNB

In [104]:
from sklearn.naive_bayes import MultinomialNB
MulNB = MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [166]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1455563, 500)
(411972, 500)
(1455563,)
(411972,)

In [167]:
MulNB = MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)
MulNB.fit(X_train, y_train)
MulNB.score(X_test, y_test)

0.0

### Model: Bernoulli

In [97]:
from sklearn.naive_bayes import BernoulliNB
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1455563, 794247)
(411972, 283626)
(1455563,)
(411972,)

In [98]:
bnb = BernoulliNB(binarize=0.0)
bnb.fit(X_train, y_train)
bnb.score(X_test, y_test)

ValueError: Expected input with 794247 features, got 283626 instead

# Test the model with the test dataset

In [105]:
#Build the model
MNBmodel = MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

#Train the data
MNBmodel = MNBmodel.fit(X_train, y_train)

#Predict the result
Xtrain1 = MNBmodel.predict(X_train)
Xtest1 = MNBmodel.predict(X_test)

## then we get the pred result
Xtest1[:10]

ValueError: dimension mismatch

In [106]:
#Predict the result by using testing dataset
Xtesttest = MNBmodel.predict(testvec)

ValueError: dimension mismatch

#Predict the result by using the test dataset
Testontest = MNBmodel.predict(testvec)

In [107]:
#Renew testing the model again
#Then test the result
bnbmodel = BernoulliNB(binarize=0.0)

#Train the data
bnbmodel = bnbmodel.fit(X_train, y_train)

#Predict the result
Xtrain2  = bnbmodel.predict(X_train)
Xtest2 = bnbmodel.predict(X_test)

## then we get the pred result
Xtest2[:10]

ValueError: Expected input with 794247 features, got 283626 instead

In [ ]:
#Predict the result by using the test dataset
bnbmodel = bnbmodel.predict(testvec)