<div style='background: #e1ff00'> <h1>Student Information</h1>  
    
Name: Miss Pattamon Rattanapan

Student ID: 108065436

GitHub ID: https://github.com/mon826

Kaggle name:Username : mon826 (display name TheRicky, account ID 2514034)

Kaggle private scoreboard snapshot:

[Snapshot](img/pic0.png)

---

### Instructions

1. First: __This part is worth 30% of your grade.__ Do the **take home** exercises in the [DM19-Lab2-Master Repo](https://github.com/EvaArevalo/DM19-Lab2-Master). You may need to copy some cells from the Lab notebook to this notebook. 


2. Second: __This part is worth 30% of your grade.__ Participate in the in-class [Kaggle Competition](https://www.kaggle.com/t/179d01d4dd984fc5ac45a894822479dd) regarding Emotion Recognition on Twitter. The scoring will be given according to your place in the Private Leaderboard ranking: 
    - **Bottom 40%**: Get 20% of the score (ie. 20% of 30% )

    - **Top 41% - 100%**: Get (101-x)% of the score, where x is your ranking in the leaderboard (ie. (101-x)% of 30% )   
    Submit your last submission __BEFORE the deadline (Nov. 23rd 11:59 pm, Saturday)__. Make sure to take a screenshot of your position at the end of the competition and store it as '''pic0.png''' under the **img** folder of this repository and rerun the cell **Student Information**.
    

3. Third: __This part is worth 30% of your grade.__ A report of your work developping the model for the competition (You can use code and comment it). This report should include what your preprocessing steps, the feature engineering steps and an explanation of your model. You can also mention different things you tried and insights you gained. 


4. Fourth: __This part is worth 10% of your grade.__ It's hard for us to follow if your code is messy :'(, so please **tidy up your notebook** and **add minimal comments where needed**.


You can submit your homework following these guidelines: [Git Intro & How to hand your homework](https://github.com/EvaArevalo/DM19-Lab1-Master/blob/master/Git%20Intro%20%26%20How%20to%20hand%20your%20homework.ipynb), but make sure to fork the [DM19-Lab2-Homework](https://github.com/EvaArevalo/DM19-Lab2-Homework) repository this time! Also please __DON´T UPLOAD HUGE DOCUMENTS__, please use Git ignore for that.

Make sure to commit and save your changes to your repository __BEFORE the deadline (Nov. 26th 11:59 pm, Tuesday)__.

In [1]:
### Begin Assignment Here

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import plotly
import nltk
import os
import math
import string
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from nltk.tokenize import word_tokenize 
from nltk.corpus import stopwords 
import nltk
nltk.download('stopwords')
import helpers.data_mining_helpers as dmh

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## File importing & Data Preparation

In [6]:
#imported prepared files
totaldf = pd.read_csv(r'C:\Users\User\Data Mining_NTHU\DMlab2x\DM19-Lab2-Homework\Export dataset for kaggle\totaldf.csv')
traindf = pd.read_csv(r'C:\Users\User\Data Mining_NTHU\DMlab2x\DM19-Lab2-Homework\Export dataset for kaggle\traindf.csv')
testdf = pd.read_csv(r'C:\Users\User\Data Mining_NTHU\DMlab2x\DM19-Lab2-Homework\Export dataset for kaggle\testdf.csv')
emotiontest = pd.read_csv(r'C:\Users\User\Data Mining_NTHU\DMlab2x\DM19-Lab2-Homework\Export dataset for kaggle\testresult_2.csv')

In [5]:
#Import the file emotion by using pandas
col_Names=["id", "emotion"]
emotion = pd.read_csv(r'C:\Users\User\Data Mining_NTHU\DMlab2x\DM19-Lab2-Homework\Data for Lab2_HW\emotion.csv', header = 0, names =col_Names)
emotion

               id       emotion
0        0x3140b1       sadness
1        0x368b73       disgust
2        0x296183  anticipation
3        0x2bd6e1           joy
4        0x2ee1dd  anticipation
...           ...           ...
1455558  0x38dba0           joy
1455559  0x300ea2           joy
1455560  0x360b99          fear
1455561  0x22eecf           joy
1455562  0x2fb282  anticipation

[1455563 rows x 2 columns]

In [7]:
emotiontest

              id       emotion
0       0x1c7f0f       sadness
1       0x1c7f12       sadness
2       0x1c7f13       disgust
3       0x1c7f17  anticipation
4       0x1c7f18       sadness
...          ...           ...
411967  0x38fe04       sadness
411968  0x38fe06           joy
411969  0x38fe13           joy
411970  0x38fe14       disgust
411971  0x38fe1b           joy

[411972 rows x 2 columns]

In [8]:
#combine two emotion together
total_emotion = pd.concat([emotion, emotiontest], ignore_index=True, sort=True)

In [9]:
total_emotion

              emotion        id
0             sadness  0x3140b1
1             disgust  0x368b73
2        anticipation  0x296183
3                 joy  0x2bd6e1
4        anticipation  0x2ee1dd
...               ...       ...
1867530       sadness  0x38fe04
1867531           joy  0x38fe06
1867532           joy  0x38fe13
1867533       disgust  0x38fe14
1867534           joy  0x38fe1b

[1867535 rows x 2 columns]

In [24]:
testdf.drop(columns = 'emotion',inplace = True)
testdf

,id,score,hashtag,text,date&time,date,time,identification
0,0x1c7f0f,62,[],"@JZED74 While inappropriate AF, he likely wasn...",2017-05-14 11:39:43,2017-05-14,11:39:43,test
1,0x1c7f12,756,[],I tried to figure out why you mean so much to ...,2016-02-14 15:55:45,2016-02-14,15:55:45,test
2,0x1c7f13,213,"['auspol', 'fizza']","The only “big plan” you ever had in your life,...",2016-07-25 17:05:35,2016-07-25,17:05:35,test
3,0x1c7f17,603,[],"Looking back on situations old & new, recent o...",2017-01-21 19:25:33,2017-01-21,19:25:33,test
4,0x1c7f18,609,[],@jasoninthehouse Why do you insist on talking ...,2017-04-25 16:36:47,2017-04-25,16:36:47,test
...,...,...,...,...,...,...,...,...
411967,0x38fe04,497,"['traitor', 'treason']","""The Grand Bargain"" The Great American Betraya...",2016-12-05 19:57:34,2016-12-05,19:57:34,test
411968,0x38fe06,187,"['FosterCare', 'roadtoadoption', 'Adoption']",I get to be a 1 year old girl's new mama start...,2017-07-15 19:43:46,2017-07-15,19:43:46,test
411969,0x38fe13,139,['artworld'],Asian dude with dangly gold earrings is back &...,2017-07-13 07:01:50,2017-07-13,07:01:50,test
411970,0x38fe14,251,"['nba', 'cantmakeaJ']",I think @kostakoufos might be the worst player...,2016-08-22 22:13:06,2016-08-22,22:13:06,test
411971,0x38fe1b,611,[],I told myself I'd be twitter famous. twitter m...,2016-02-14 03:24:55,2016-02-14,03:24:55,test

In [25]:
testdf['emotion'] = testdf.apply(lambda _: '', axis=1)

In [18]:
#Then export the file total_emotion


total_emotion = total_emotion.to_csv (r'C:\Users\User\Data Mining_NTHU\DMlab2x\DM19-Lab2-Homework\total_emotion.csv', 
                               index = None, header=True)

In [11]:
#Merge total_emotion to totaldf
totaldf = pd.merge(totaldf, total_emotion, on='id',sort = True)

In [15]:
totaldf.columns

Index(['id', 'score', 'hashtag', 'text', 'date&time', 'date', 'time',
       'identification', 'emotion'],
      dtype='object')

In [12]:
total_emotion.isnull().apply(lambda x: dmh.check_missing_values(traindf))

emotion    (The amoung of missing records is: , 0)
id         (The amoung of missing records is: , 0)
dtype: object

## Model: Naive Bayes

In [27]:
#Preparing data before feeding into the vectorizer
#by combine hastag, text and score for both test and train dataset
traincombined = totaldf[['text','hashtag']].astype(str).apply('-'.join, axis=1)
testcombined = testdf[['text','hashtag']].astype(str).apply('-'.join, axis=1)

In [28]:
# Create the vectorizer 

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

count_vect = CountVectorizer(stop_words='english')
#count_vect = TfidfVectorizer(stop_words='english',ngram_range= (1,3))

In [29]:
train_countvec= count_vect.fit_transform(traincombined)
test_countvec2 = count_vect.transform(testcombined)

In [30]:
X_train = train_countvec
y_train = totaldf['emotion']

In [31]:
X_test = test_countvec2
y_test = testdf['emotion']

In [32]:
#Train the model
from sklearn.naive_bayes import MultinomialNB
MulNB = MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)
MulNB.fit(X_train, y_train)
MulNB.score(X_test, y_test)

0.0

In [36]:
#Test on the real data
## build Naive Bayes model
NV_model = MultinomialNB(alpha=1.0, fit_prior=True, class_prior=None)

## training the data
NV_model = NV_model.fit(X_train, y_train)

## predict!
y_train_pred = NV_model.predict(X_train)

X_test_pred = test_countvec2
y_test_pred = NV_model.predict(test_countvec2)

## so we get the pred result
y_test_pred[:10]

array(['sadness', 'sadness', 'disgust', 'anticipation', 'sadness', 'joy',
       'sadness', 'anticipation', 'anticipation', 'anticipation'],
      dtype='<U12')

In [37]:
## Result Evaluation /accuracy
from sklearn.metrics import accuracy_score

acc_train1 = accuracy_score(y_true=y_train, y_pred=y_train_pred)
acc_test1 = accuracy_score(y_true=y_test, y_pred=y_test_pred)

print('training accuracy: {}'.format(round(acc_train1, 2)))

training accuracy: 0.7

In [38]:
y_test_pred2 = NV_model.predict(X_test)
y_test_pred2[:10]

array(['sadness', 'sadness', 'disgust', 'anticipation', 'sadness', 'joy',
       'sadness', 'anticipation', 'anticipation', 'anticipation'],
      dtype='<U12')

### Print the result: Naive Bayes

In [39]:
test_id = testdf.id
def listOfTuples(test_id, y_test_pred2): 
    return list(map(lambda x, y:(x,y), test_id, y_test_pred2)) 

finalresult3 = (listOfTuples(test_id, y_test_pred2))
finalresult3[0:10]

[('0x1c7f0f', 'sadness'),
 ('0x1c7f12', 'sadness'),
 ('0x1c7f13', 'disgust'),
 ('0x1c7f17', 'anticipation'),
 ('0x1c7f18', 'sadness'),
 ('0x1c7f21', 'joy'),
 ('0x1c7f24', 'sadness'),
 ('0x1c7f29', 'anticipation'),
 ('0x1c7f2d', 'anticipation'),
 ('0x1c7f32', 'anticipation')]

In [40]:
#Pass the result into panda dataframe and print the result to see
dfresult3 = pd.DataFrame(finalresult3) 
dfresult3

               0             1
0       0x1c7f0f       sadness
1       0x1c7f12       sadness
2       0x1c7f13       disgust
3       0x1c7f17  anticipation
4       0x1c7f18       sadness
...          ...           ...
411967  0x38fe04       sadness
411968  0x38fe06           joy
411969  0x38fe13           joy
411970  0x38fe14       disgust
411971  0x38fe1b           joy

[411972 rows x 2 columns]

In [41]:
#Then assign header names and print the data to see
dfresult3.columns = ['id','emotion']
dfresult3

              id       emotion
0       0x1c7f0f       sadness
1       0x1c7f12       sadness
2       0x1c7f13       disgust
3       0x1c7f17  anticipation
4       0x1c7f18       sadness
...          ...           ...
411967  0x38fe04       sadness
411968  0x38fe06           joy
411969  0x38fe13           joy
411970  0x38fe14       disgust
411971  0x38fe1b           joy

[411972 rows x 2 columns]

In [43]:
#Then export the file 


exportcsv3 = dfresult3.to_csv (r'C:\Users\User\Data Mining_NTHU\DMlab2x\DM19-Lab2-Homework\Dataset_Twitter_re8.csv', 
                               index = None, header=True) 

print (dfresult3)

              id       emotion
0       0x1c7f0f       sadness
1       0x1c7f12       sadness
2       0x1c7f13       disgust
3       0x1c7f17  anticipation
4       0x1c7f18       sadness
...          ...           ...
411967  0x38fe04       sadness
411968  0x38fe06           joy
411969  0x38fe13           joy
411970  0x38fe14       disgust
411971  0x38fe1b           joy

[411972 rows x 2 columns]